@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
}

header {
    width: 100%;
    background-color: #006a71;
}

header h1 {
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

main {
    flex-grow: 1;
    background-color: #fcfce7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

aside {
    padding: 1rem;
    height: auto;
    background-color: #03747c;
}

aside h2 {
    text-align: center;
    color: #fff;
}

p{
    padding-top: 10px;
}

#curves {
    overflow-y: scroll;
}

#canvas {
    width: 60%;
    height: 75%;
    background-color: #fff;
    border: 1px solid #84a9ac;
}

.curve {
    margin: 1rem auto;
    background-color: #fff;
}

.dropbtn {
    border-radius: 10px;
    background-color: #3498DB;
    color: white;
    padding: 0.7rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
  
.dropdown {
    position: relative;
    display: inline;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
    cursor: pointer;
}
  
.dropdown-content a {
    color: black;
    padding: 1rem 1rem;
    text-decoration: none;
    display: block;
}

.fa-caret-down{
    padding-left: 10px;
}
  
.dropdown a:hover {background-color: #ddd;}
.show {display: block;}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}