#body{
    background-color: #f0ecdc;
}

#nav{
    background-color: #e7e6e6;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    min-height: calc(100vh);
    overflow-y: scroll;
}

#info{
    position: absolute;
    right: 20px;
    top: 10px;
}

#instructions{
    position: absolute;
    right: 40px;
    top: 200px;
    background-color: #bcbebea1;
}

#drawCanvas{
    background-color: #f3f2f2;
    width: 800px;
    height: 500px;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

#mainTitle{
    position: fixed;
    top: 10px;
    right: 550px;
    font-size: 20px;
}

.draggable{
    z-index: 100;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
background: #e7e6e6; 
}

::-webkit-scrollbar-thumb {
background: #888; 
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}